@{
	ViewData["Title"] = "Transações Financeiras";
}
<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-block btn-primary" onclick="New()">Registrar Transação</button>
<br><br>
<table class="table table-bordered">
	<tr>
		<th>Id</th>
		<th>Histórico</th>
		<th>Tipo</th>
		<th>Valor</th>
		<th>Data</th>
		<th>#</th>
		<th>#</th>
	</tr>
	@{
		foreach(var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.History</td>
				<td>@item.Type</td>
				<td>@item.Value</td>
				<td>@item.Date</td>
				<td><button type="button" class="btn btn-block btn-outline-warning" onclick="Update(@item.Id.ToString())">Editar</button></td>
				<td><button type="button" class="btn btn-block btn-outline-danger" onclick="Delete(@item.Id.ToString())">Excluir</button></td>
			</tr>
		}
	}
</table>
<script>
	function New(){
		window.location.href = '../Transaction/Create';
	}

	function Update(id){
		window.location.href = '../Transaction/Create/'+ id;
	}

	function Delete(id){
		window.location.href = '../Transaction/Delete/'+ id;
	}
</script>